body{
    background-color: rgb(238, 227, 227);  /*overall body background color*/
            font-family: 'Times New Roman', Times, serif;

}
#my-details{
    border: 1px;
    border-radius: 5px;
    text-align: justify;
    text-decoration: wavy;
    color: rgba(27, 20, 215, 0.797);
    
   }
/* question 1 css */
#box{
    background-color: blue; /*background color*/
    color: rgb(253, 253, 247); /*text color*/
    border-radius: 10px; /*Rounded boarders*/
    padding: 25px; /*Box sixe*/
}
/* question 2 css */
.heading{
    color: red; /*text color*/
}

/* question 3 css */
.green-button{
    background-color: green;
}

/* set 2 Q1 */
#h1-heading{
    text-align: center;
    text-transform: uppercase;
}
#outer{
    font-size: 30px;
    color: rgba(90, 0, 244, 0.728);
    border: 1px solid;
    padding: 10px;
}
#inner{
    font-size: 25px;
    color: brown;
    border: 3px;
    padding: 30px;
    margin-top: 20px;
}
h1{
    text-align: center;
color: brown;
}
